@font-face {
    font-family: 'french-typewriter';
    src: url('/src/assets/fonts/french-typewriter-light-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPAgrandir';
    src: url('src/assets/fonts/PPAgrandir-GrandRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos';
    src: url('src/assets/fonts/TiemposText-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Tiempos', serif;
    font-size: 16px;
    line-height: 25px;
    background-color: #fff7e9;
}

h1, h2, h3, h4, h5 {
    font-family: 'french-typewriter', sans-serif;
}

header {
    padding: 35px;
    text-align:center;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}